name: Deploy My Blog

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H 175.24.130.180 >> ~/.ssh/known_hosts

      # - name: Deploy
      #   run: |
      #     ssh -i ~/.ssh/id_rsa -p 223 root@47.120.38.169 "/home/hxy/myblog/update.sh"
